<h1 class="text-center"><b>Hey!! Welcome to EMS-project</b></h1>
<div class="container-fluid w-25 text-center shadow mt-5 rounded border p-4 bg-dark">  
  <h2 class='text-light'>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-outline mb-4 text-light">
      <%= f.label :login %><br />
      <%= f.text_field :login, autofocus: true %>
    </div>

    <div class="form-outline mb-4 text-light">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check text-light">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mb-2 text-light">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
