<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <%= link_to "Back", root_path  %>
  <h4 class="text-light"> Customer Information</h4>
  <%= form_for [:user,@order] do |f| %>
    <div class="text-light mt-2">
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>
    <div class="text-light mt-2">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="text-light mt-2">
      <%= f.label :address %><br>
      <%= f.text_area :address, required: true %>
    </div>
    <button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Payment Through?
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Payment Method</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.radio_button :payment, "cash" %>
              <%= f.label :cash,"cash" %>
              <%= f.radio_button :payment, "card" %>
              <%= f.label :cash,"card" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <%= button_to "Pay", payments_create_path, class: "btn btn-warning", remote: true %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id='coupon'>
  <%= render 'coupon', coupon: @coupon %>
</div>
