<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <h4 class="text-light"> Customer Information</h4>
  <%= form_for [:user,@order] do |f| %>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>
    <div>
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <div>
      <%= f.label :address %><br>
      <%= f.text_area :address, required: true %>
    </div>
  <% end %>
</div>
