<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <%= link_to "Back", root_path  %>
  <h4 class="text-light"> Customer Information</h4>
  <%= form_for [:user,@order] do |f| %>
    <div class="text-light">
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>
    <div class="text-light">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="text-light">
      <%= f.label :address %><br>
      <%= f.text_area :address, required: true %>
    </div>
    <h4 class="text-light">Payment Method</h4>
    <div class="field text-light">
      <%= f.radio_button :payment, "cash" %>
      <%= f.label :cash,"cash" %>
      <%= f.radio_button :payment, "card" %>
      <%= f.label :cash,"card" %>
    </div>
  <% end %>
</div>
<div id='coupon'>
  <%= render 'coupon', coupon: @coupon %>
</div>
