<!-- form html -->
<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark" >
  <h2 class= "text-light">Create Product</h2>
  <%= form_for [:admin, @product] do |f| %>

    <div class="field mb-3 text-start">
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-outline mb-4 text-light">
      <%= f.label :Title, class: "form-label" %>
      <%= f.text_field :title, required: true, autofocus: true, autocomplete: "title", class: "form-control" %>
    </div>

    <div class="form-outline mb-4 text-light">
      <%= f.label :Price, class: "form-label" %><br />
      <%= f.number_field :price, type: "number", required: true, autofocus: true, autocomplete: "price", class: "form-control", min: 1, placeholder: "Only Integer value" %>
    </div> 

    <div class="form-outline mb-4 text-light">
      <%= f.label :Description, class: "form-label" %>
      <%= f.text_area :description, required: true, autofocus: true, class: "form-control" %>
    </div>

    <div class="dropdown field mb-3 text-start text-light">
      <%= f.label :Select_Status, class: "form-label" %><br />
      <%= f.select :status, options_for_select(Product.statuses.keys.to_a.map {|key| [key.titleize, key]}), {}, class: "form-select" %>
    </div>

    <div class="dropdown field mb-3 text-start text-light">
      <%= f.label :select_category, class: "form-label" %><br />
      <%= f.select :category_id, options_for_select(Category.all.map {|key| [key.name, key.id]}), {}, class: "form-control form-select" %>
    </div>

    <%= f.submit "Create Product", class: 'actions mb-2 text-dark btn btn-warning mt-3' %>
  <% end %>
</div>
