<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <div class="text-start">
    <%= link_to "Back", admin_users_path  %>
  </div>

  <h2 class = "text-light">User Edit</h2>
  <%= form_for ([:admin, @user]) do |f| %>
    <div class="row mb-4 text-light">
      <div class="col">
        <div class="form-outline mb-4 text-light">
          <%= f.label :username %><br/>
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>
      </div>

      <div class="col">
        <div class="form-outline mb-4 text-light">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <div class="row mb-4 text-light">
      <div class="col">
        <div class="form-outline" >
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="col">
        <div class="form-outline" >
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

      <div class="col text-light">
        <div class="form-outline" >
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
      <%= f.submit "Update", class: 'actions mb-2 text-dark btn btn-warning mt-3' %>
  <% end %>
</div>
