<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <div class="text-start">
    <%= link_to "Back", admin_users_path  %>
  </div>

  <h2 class = "text-light">User Edit</h2>
  <%= form_for ([:admin, @user]) do |f| %>
    <div class="form-outline mb-4 text-light">
      <%= f.label :username %><br>
      <%= f.text_field :username, required: true %>
    </div>

    <div class="form-outline mb-4 text-light">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    
    <%= f.submit "Update", class: 'actions mb-2 text-dark btn btn-warning mt-3' %>
  <% end %>
</div>
