<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <%= link_to "Back", admin_users_path  %>
  <div class="text-light text-center">
    <h2>User:<%= @user.id %></h2>
    <p> User Name: <%= @user.username %></p>
    <p> Email: <%= @user.email %></p>
    <p> Created at: <%= @user.created_at %></p>
  </div>
</div>
